/*----------------------------- Imports Google Font Families - Karla(200-800) & Rubik Mono One*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Rubik+Mono+One&display=swap');

/*----------------------------- Removes default margins & padding to clear unwanted space*/
h1,
h2,
h3,
p,
.footer_hr {
    margin: 0;
    padding: 0;
}

/*----------------------------- Text Styling*/
/*--- Headings (h5 used for cards)*/
h1,
h2,
h3,
.card h5,
p {
    color: black;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

/*--- Vertical space given under headings, aligned & styled*/
h1,
h2 {
    padding-bottom: 10px;
    text-transform: uppercase;
}

/*--- provide pleasing visual space at the bottom of each individual article ---*/
.index_promo,
.index_store {
    padding-bottom: 20px;
}

/*--- Paragraph styled further, given black backgrounds & off-white colour to improve visibility on white backgrounds*/
p {
    color: antiquewhite;
    background-color: black;
    font-weight: 400;
    text-transform: capitalize;
}

/*--- Paragraph styling for Music page only. Removes background. Resemble a news article in style.*/
.ep-info p {
    color: black;
    background-color: transparent;
}

/*----------------------------- Card Styling*/
/*--- Removes underline on links.*/
.card a {
    text-decoration: none;
}

/*--- Hover class used to improve user experience. Interactivity.*/
.card h5:hover {
    color: yellow;
    border: 3px solid yellow;
    padding: 5px;
    background-color: black;
}

/*----------------------------- hr Styling*/
hr {
    border: none;
    height: 1px;
    width: 100%;
    /*--- Set the hr color */
    color: rgba(1, 1, 1, .25);
    /*--- compatibility - old versions of IE*/
    background-color: rgba(1, 1, 1, .75)
}

/*--- Used to provide gaps between the aside without disrupting it's size & to stop the spotify element touching the footer without stopping the vl's*/
.hr_invisible {
    height: 0px;
    margin-bottom: 25px;
}

/*----------------------------- Alert Styling (Set the fonts and weight)*/
aside,
.alert-info {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

/*--- Makes anchors more eye-catching*/
.alert-info a {
    font-family: 'Karla', sans-serif;
    font-weight: 600;
}

/*----------------------------- Aside Styling*/
aside {
    width: 100%;
    float: right;
    box-shadow: inset 5px 0 5px -5px #000000;
    font-style: italic;
    color: #000000;
    padding-left: 10px;
}

/*----------------------------- Vertical Line with side shadow - divides music page sections & match aside style*/
.vl {
    height: 100%;
    float: right;
    box-shadow: inset 5px 0 5px -5px #000000;
    padding-left: 10px;
}

.vl-right {
    height: 100%;
    float: left;
    box-shadow: inset 5px 0 5px -5px #000000;
    padding-left: 10px;
}

/*----------------------------- Navbar*/
/*--- Center align text and add a backgroud color to the menu*/
.navbar-container {
    text-align: center;
    background-color: rgba(1, 1, 1, .25)
}

/*--- Provide space between the navbar icon and brand text*/
.navbar-brand .icon {
    margin-right: 16px;
}

/*--- Brand text sizing*/
.navbar-brand {
    font-size: 24px;
}

/*--- Prevents the Brand text from pushing the navbar to the line below. Disappears before hand, leaving the logo visible*/
@media screen and (max-width: 450px) {
    .navbar-brand{
        width: 0;
        font-size: 0;
    }
}

/*--- Style Navbar Links*/
.navbar-container a {
    color: white;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 400;
    font-size: 16px;
}


/*--- Hover class used to improve user experience by creating interactivity with the clickable links*/
.navbar-container a:hover {
    color: yellow;
    border: 3px solid yellow;
    padding: 5px;
    background-color: black;
}

/*--- remove background on active link hover to inform the user they are already on this page. Improves overall experience and provides context*/
.navbar-container .active:hover {
    border: 0;
    background-color: transparent;
}

/*--- Adds a dropshadow to the navbar. [Parameters: horizontal, vertical, blur, spread, colour] Z-index used to ensure it's shown on top of other sections*/
.navbar {
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 60px;
}

/*----------------------------- Footer*/
/*--- Subtle dropshadow above the footer*/
.footer_hr {
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.25);
}

/*----------------------------- Sass code found using Chrome Dev Tools. Used to style navbar further and get around inbuilt bootstrap styling*/
/*--- These lines allow me control over the active links color (as it is independently styled)*/
.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: var(--bs-navbar-active-color);
    --bs-navbar-active-color: black;
}

/*--- Navbar brand-image font weight, colour & family modifier, to ensure I have control over these aspects*/
.navbar-brand {
    --bs-navbar-brand-font-size: 24px;
    --bs-navbar-brand-color: black;
    --bs-navbar-brand-hover-color: yellow;
    font-family: var(--bs-body-font-family);
    --bs-body-font-family: 'Rubik Mono One', sans-serif;
    font-weight: var(--bs-body-font-weight);
    --bs-body-font-weight: 400;
}

/*--- Card "Sass" overrides*/
.card {
    /*--- use to set custom border colour*/
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-border-color-translucent: black;
    /*--- remove border radius*/
    --bs-card-border-width: 4px;
    --bs-card-border-radius: 0;
    --bs-card-inner-border-radius: 0;
}

/*----------------------------- Modifying and overriding 3rd party embed codes*/
/*--- Makes the Youtube emebed responsive, code from W3CSchools (https://www.w3schools.com/howto/howto_css_responsive_iframes.asp)*/
.yt-container {
    overflow: hidden;
    /*--- 16:9 Aspect Ratio maintained. Counteracted by adding top/bottom padding to keep in aligned based(divide 9/16=0.5625)*/
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.yt-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*--- Adapting the above code to work with a 1:1 aspect ratio "square" video ---*/
.yt-container-square {
    overflow: hidden;
    /*--- 1:1 Aspect Ratio maintained. Counteracted by adding top/bottom padding to keep in aligned based(divide 1 by 1 =1)*/
    padding-bottom: 100%;
    position: relative;
    height: 0;
}

.yt-container-square iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*--- Adapted the Youtube responsive code for use with Bandcamp*/
.bc-container {
    overflow: hidden;
    /*--- 9:16 Aspect Ratio instead (divide 350 by 621 = 1.7778) so 177.78 for perfect sizing but the embed was oversized originally*/
    padding-top: 160%;
    position: relative;
    height: 0;
}

.bc-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*--- Creates a consistent look between the 3rd party elements and card stylings set above*/
.bc-container iframe,
.spotify-container,
.yt-container,
.yt-container-square {
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

/*--- Removes additional whitespace which was visible after adding the above border to the box, used chrome dev tools to find the iframes size compared to the divs and changed the height accordingly*/
div .spotify-container {
    height: 268px;
}