/*----------------------------- Removes default margins to remove unwanted space*/
/* .navbar-nav, */
h1,
p {
    margin: 0;
    padding: 0;
}

/*----------------------------- Text Styling*/
h1 {
    color: greenyellow;
    background-color: cornflowerblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
}

p {
    color: antiquewhite;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
}

/*----------------------------- Navbar Styling*/
/*--- Center align text and add a backgroud color to the menu*/
.navbar-container {
    text-align: center;
    background-color: rgba(1, 1, 1, .25)
}

/*--- Center align text and add a backgroud color to the menu*/
.navbar-container a {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

/*----------------------------- Navbar Sas code found using Chrome Dev Tools, used to style navbar further and get around inbuilt styling*/
/*--- These lines allow me control over the active links color as it was seperate from the other links*/
.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: var(--bs-navbar-active-color);
    --bs-navbar-active-color: black;
}

/*--- Navbar brand-image font weight, colour & family modifier, to ensure I have control over these aspects*/
.navbar-brand {
    --bs-navbar-brand-font-size: 24px;
    --bs-navbar-brand-color: black;
    --bs-navbar-brand-hover-color: yellow;
    font-weight: var(--bs-body-font-weight);
    --bs-body-font-weight: 900;
    font-family: var(--bs-body-font-family);
    --bs-body-font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*--- Hover used to improve user experience by creating interactivity with the clickable links*/
.navbar-container a:hover {
    color: yellow;
    border: 2px solid yellow;
    padding: 8px;
}